---

type LinksType =
  | {
      href: string;
      label: string;
      type: "normal";
    }
  | {
      type: "dropdown";
      label: string;
      options: {
        href: string;
        label: string;
      }[];
    };

const LINKS: LinksType[] = [
  { href: "/", label: "Inicio", type: "normal" },
  {
    label: "Especialidades",
    type: "dropdown",
    options: [
      { href: "#informatic", label: "Informáctica" },
      { href: "#electronic", label: "Electrónica" },
    ],
  },
  {
    label: "Capacitaciones",
    type: "dropdown",
    options: [
      { href: "#informatic", label: "Informáctica" },
      { href: "#electronic", label: "Electrónica" },
      { href: "#electricity", label: "Electricidad" },
      { href: "#robotics", label: "Robótica" },
    ],
  },
];

const pathname = Astro.url.pathname;

---

{
  LINKS.map((link) =>
    link.type === "normal" ? (
      <a href={link.href} class={`text-lg ${pathname === link.href ? 'text-blue-400' : 'text-white hover:text-blue-400'}`}>{link.label}</a>
    ) : (
      <div class="dropdown dropdown-hover">
        <div
          tabindex="0"
          role="button"
          class={`m-1 flex gap-2 text-white hover:text-blue-400`}
        >
          {link.label}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
        </div>
        <ul
          class="dropdown-content gap-1 bg-gray-800 text-white menu rounded-box z-[1] w-52 p-2 shadow"
        >
          {link.options.map((item) => (
            <a aria-label={item.label} href={item.href} class={`p-2 hover:bg-blue-800 rounded-lg ${pathname === item.href && 'bg-blue-800'}`}>
              {item.label}
            </a>
          ))}
        </ul>
      </div>
    )
  )
}